@import "variables";
@import "animations";

:host {
  display: block;
  margin: auto;
}

.call-btn {
  background: red;
  width: 400px;
  height: 250px;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  animation: fadein $fadein-animation-duration;

  &:focus {
    outline: none;
  }

  &:hover {
    background: darken(black, 10%);
    border: 3px solid red;
    color: red;
  }

  &:active {
    background: rgba(black, 0.8);
  }
}
