.preloader_list {
  animation: disappearance 3000ms linear infinite;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  div {
    position: absolute;
    transform-style: preserve-3d;
  }
}

@for $i from 1 through 5 {
  $diff: $i * 120;
  $from: 100 - $diff;
  $to: 800 - $diff;

  .preloader_item_#{$i} {
    @include run(run#{$i}, #{$from}px, #{$to}px);
    animation: run#{$i} 2200ms linear infinite;

    .part {
      @include random-bgc();

      &:before {
        @include random-bgc();
      }
    }
  }
}

.paper_man_wrapper {
  animation: cameraY 3500ms linear infinite;
}
.paper_man {
  top: -100px;
  left: -50px;
  animation: cameraX 2500ms ease-in-out infinite alternate;
  .part {
    backface-visibility: hidden;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
  }
  &_body {
    transform-origin: 50% 100%;
    transform: rotateX(-20deg);
    width: 60px;
    height: 100px;
    animation: shake4 1000ms -500ms ease-in-out infinite;
  }
  &_head {
    transform-origin: 50% 100%;
    top: -40px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    transform: rotateX(-10deg);
    animation: shake4 500ms -400ms ease-in-out infinite;
  }
  &_arm {
    &.left {
      transform-origin: 0 0;
      right: 0px;
      animation: shake1 500ms -200ms ease-in-out infinite;
    }
    &.right {
      transform-origin: 100% 0;
      left: -20px;
      animation: shake1 500ms -450ms ease-in-out infinite;
    }
    &_1 {
      transform-origin: 50% 0;
      width: 20px;
      height: 50px;
    }
    &_2 {
      transform-origin: 50% 0;
      bottom: -50px;
      width: 20px;
      height: 50px;
      .left & {
        animation: shake3 500ms -400ms ease-in-out infinite;
      }
      .right & {
        animation: shake3 500ms -150ms ease-in-out infinite;
      }
    }
    &_hand {
      transform-origin: 50% 0;
      bottom: -15px;
      width: 20px;
      height: 15px;
      .left & {
        animation: shake3 500ms -100ms ease-in-out infinite;
      }
      .right & {
        animation: shake3 500ms -350ms ease-in-out infinite;
      }
    }
  }
  &_leg {
    transform-origin: 50% 0;
    top: 100px;
    &.left {
      right: 30px;
      animation: shake1 500ms ease-in-out infinite;
    }
    &.right {
      left: 0;
      animation: shake1 500ms -250ms ease-in-out infinite;
    }
    &_1 {
      transform-origin: 50% 0;
      width: 30px;
      height: 50px;
    }
    &_2 {
      transform-origin: 50% 0;
      bottom: -40px;
      width: 30px;
      height: 40px;
      .left & {
        animation: shake2 500ms -300ms ease-in-out infinite;
      }
      .right & {
        animation: shake2 500ms -50ms ease-in-out infinite;
      }
    }
    &_foot {
      transform-origin: 50% 0;
      bottom: -20px;
      width: 30px;
      height: 20px;
      .left & {
        animation: shake3 500ms -200ms ease-in-out infinite;
      }
      .right & {
        animation: shake3 500ms -450ms ease-in-out infinite;
      }
    }
  }
}

@keyframes shake1 {
  0% {
    transform: rotateX(80deg);
  }
  50% {
    transform: rotateX(-80deg);
  }
  100% {
    transform: rotateX(80deg);
  }
}

@keyframes shake2 {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-100deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes shake3 {
  0% {
    transform: rotateX(10deg);
  }
  50% {
    transform: rotateX(120deg);
  }
  100% {
    transform: rotateX(10deg);
  }
}

@keyframes shake4 {
  0% {
    transform: rotateX(-30deg);
  }
  50% {
    transform: rotateX(-10deg);
  }
  100% {
    transform: rotateX(-30deg);
  }
}

@keyframes cameraY {
  0% {
    transform: rotateY(10deg);
    transform: translateX(-500);
  }
  100% {
    transform: rotateY(170deg);
    transform: translateX(500);
  }
}

@keyframes cameraX {
  0% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateX(40deg);
  }
}

@keyframes disappearance {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
