@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/spacing';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

app-root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
