<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.9a1fe7f8cbf5fe2a0e8b.css"></head>
<body>
  <app-root>
    <div class="preloader_list">
      <div class="preloader_item_1">
        <div class="paper_man_wrapper">
          <div class="paper_man">
            <div class="paper_man_body part">
              <div class="paper_man_head part"></div>

              <div class="paper_man_arm left">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_arm right">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg left">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg right">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader_item_2">
        <div class="paper_man_wrapper">
          <div class="paper_man">
            <div class="paper_man_body part">
              <div class="paper_man_head part"></div>

              <div class="paper_man_arm left">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_arm right">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg left">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg right">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader_item_3">
        <div class="paper_man_wrapper">
          <div class="paper_man">
            <div class="paper_man_body part">
              <div class="paper_man_head part"></div>

              <div class="paper_man_arm left">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_arm right">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg left">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg right">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader_item_4">
        <div class="paper_man_wrapper">
          <div class="paper_man">
            <div class="paper_man_body part">
              <div class="paper_man_head part"></div>

              <div class="paper_man_arm left">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_arm right">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg left">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg right">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader_item_5">
        <div class="paper_man_wrapper">
          <div class="paper_man">
            <div class="paper_man_body part">
              <div class="paper_man_head part"></div>

              <div class="paper_man_arm left">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_arm right">
                <div class="paper_man_arm_1 part">
                  <div class="paper_man_arm_2 part">
                    <div class="paper_man_arm_hand part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg left">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
              <div class="paper_man_leg right">
                <div class="paper_man_leg_1 part">
                  <div class="paper_man_leg_2 part">
                    <div class="paper_man_leg_foot part"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-root>
<script type="text/javascript" src="runtime.5c1ab1f07be131b54b19.js"></script><script type="text/javascript" src="es2015-polyfills.c5dd28b362270c767b34.js" nomodule></script><script type="text/javascript" src="polyfills.8bbb231b43165d65d357.js"></script><script type="text/javascript" src="main.48c6e0ec2745282d9f9f.js"></script></body>
</html>
