@import "variables";
@import "animations";

:host {
  display: block;
  margin: auto;
}

.call-btn {
  background: $mat-red;
  width: 300px;
  height: 80px;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  animation: fadein $long-fadein-animation-duration;

  &:focus {
    outline: none;
  }

  &:hover {
    background: darken(black, 10%);
    border: 1px solid $mat-red;
  }

  &:active {
    background: rgba(black, 0.8);
  }
}
